---
layout: default
---

<section class="home-archive" aria-label="Arsip catatan">
  {% for post in site.posts %}
    {% unless post.next %}
      <h2 class="archive-year">{{ post.date | date: '%Y' }}</h2>
      <ul class="archive-list">
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture next_year %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != next_year %}
        </ul>
        <h2 class="archive-year">{{ post.date | date: '%Y' }}</h2>
        <ul class="archive-list">
      {% endif %}
    {% endunless %}

    <li>
      <time class="archive-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d %b" }}</time>
      <a class="archive-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </li>
  {% endfor %}
  </ul>
</section>
