<div class="text-center">
		<a href="https://harjuna.web.id" class="color-icon no-border" title="Home">
                <span class="fa-stack fa-lg">
                        <i class="fa fa-home fa-stack-1x"></i>
                </span>
        </a>
        <a href="https://www.linkedin.com/in/harjunacandra/" class="color-icon no-border" title="LinkedIn">
                <span class="fa-stack fa-lg">
                        <i class="fa fa-linkedin  fa-stack-1x"></i>
                </span>
        </a>
        <a href="https://www.facebook.com/harjunacandra" class="color-icon no-border" title="Facebook">
                <span class="fa-stack fa-lg">
                        <i class="fa fa-facebook fa-stack-1x"></i>
                </span>
        </a>
        <a href="https://www.twitter.com/harjunacandra" class="color-icon no-border" title="Twitter">
                <span class="fa-stack fa-lg">
                        <i class="fa fa-twitter fa-stack-1x"></i>
                </span>
        </a>
        <a href="https://github.com/harjunacandra" class="color-icon no-border" title="Github">
                <span class="fa-stack fa-lg">
                        <i class="fa fa-github-alt fa-stack-1x"></i>
                </span>
        </a>
		<a href="mailto:me[at]harjuna.web.id" class="color-icon no-border" title="Mail">
                <span class="fa-stack fa-lg">
                        <i class="fa fa-envelope fa-stack-1x"></i>
                </span>
        </a>
</div>
